/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
background-image:url('');
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Add Styles Here */
body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
font-weight:bold;}
section#content { margin:0px; width:900px; padding:0px 12px;
color: #FFFFFF;
background-color: #2B3B47;
font-size: 63px;
letter-spacing: 3.5pt;
line-height: 1.2;
margin:10px; width:700px; padding:140px 10px;}

h1 { font-size:50px; font-weight:bold; color:#FFFFFF; text-align:left
margin:0px; width:10px; padding:50px 0px;
letter-spacing: 1.5pt;
line-height: 1; }
h2 { font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
font-style: italic;
margin:0px; width:100px; padding:10px 10px; 
font-size:18px; font-weight:light; color:#2B3B47; text-align:left;
background-color: #FFFFFF;
letter-spacing: 1pt;
line-height: 1; }
p { padding:70px; }
