/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 1;
	height: 1;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

body {
	margin:auto;
}
@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}
	p{
		font-family:helvetica;
		font-size:10pt;

	}
h2{
    padding:20px 10px 20px 10px;
    text-align:center;
    font-family: helvetica;
	font-weight: bold;
	line-height: 1.6em;
	font-size:20pt;
	color: white;
	letter-spacing:.1em;
	max-width:700px;
	text-transform: uppercase;
	border: solid #fff;
	border-width: 2px;
    }
h3 {
	margin:auto;
	margin-top: 10px;
	margin-left:170px;
	font-family: 'League Gothic';
	text-transform:uppercase;
	letter-spacing: .15em;
	font-size:18pt;
	color:#b91f33;
	text-align:left;
	border: solid #b91f33;
	border-width: 0 0 2px 0;
	width:240px;
	line-height:2.2em;
}
.textblock h1{
	margin:auto;
	font-family: 'League Gothic';
	text-transform:uppercase;
	letter-spacing: .15em;
	font-size:2em;
	color:white;
	text-align:center;
	border: solid white;
	border-width: 0 0 2px 0;
	width:60%;
	margin-bottom:36px;
	line-height:2.2em;
}
#recentwork{
	position:absolute;
	width:100%;
	height: 700px;
	background-color:white;
	z-index:444;
	top: 700px;
}
#sometext {
	margin:auto;
	position:absolute;
	z-index:333;
	top: 350px;
	left:25%;
	right:25%;
}

#navwrapper{
	background-color: white;
	position: fixed;
	width:100%;
	z-index:666;
}
#title{		
	display: block;
	height: 0px;
	background: url(images/logo.png) no-repeat top left;
	text-indent: -9999px;
	float:left;
	}

#logosmall{
	margin-left:150px;
	float:left;

}	
nav {
	position:fixed;
	right:99px;
}
ul {
	list-style: none; 
}
li {
	float:left;
	font-family: 'League Gothic';
	text-decoration: none;
	padding:50px 100px 0 0;
	margin-right:15px;
	text-transform:uppercase;
	letter-spacing:.15em;
	font-size:14pt;
	border: solid #000;
	border-width: 0 0 2px 0;
	line-height: 45px;
}
.news{
	position: relative;
	padding-top:130px;
}
#background_image{
	margin:auto;
	width:100%;
	height:100%;
}
#cdtitle{
	text-align: left;
	font-family: 'League Gothic';
	color:black;
	font-size:13pt;
	color:#b91f33;
}
#cdartist{
	font-family:helvetica;
	font-weight:bold;
	text-transform: uppercase;
	letter-spacing: .05em;
	font-size:13pt;
	color:#b91f33;
}
#job-block{
	height:23%;
}
#job-cover{
	float: left;
	width:25%;
	position:relative;
}
#work-wrapper {
	position:relative;
	margin:auto;
	width:100%;
	top:137px;
}
#albumcover{
	margin:auto;
	width:100%;
	display:block;
}
#job-info{
	display:none;
	position:absolute;
	margin:20px;
	z-index:200;
}
#job-info:hover{
	display:visible;
	z-index:999;
}
#topnav li {
	text-decoration:none;
	color:black;
}
#topnav li:hover {
	text-decoration:none;
	color:#b91f33;
	border-color:#b91f33;
}
#topnav a:hover {
	text-decoration:none;
	color:#b91f33;
	border-color:#b91f33;
}
#topnav a {
	text-decoration:none;
	color:black;
	border-color:black;
}
iframe{
	margin-left:150px;
	margin-top:60px;
}
.textblock{
	margin-top:160px;
	margin-left:10.2%;
	margin-right:10.7%;
	width:30.2%;
	float:left;
}
.textblock p {
	font-size:.8em;
	font-weight:medium;
	padding-bottom:20px;
	line-height:1.3em;
	color:white;
}
.profilepicture{
	float:left;
	margin-top:180px;
}
#profilepicture{
	width:83.4%;
}

.about{
	background-color: #b91f33;
	width:100%;
	height:610px;
}
#grid{
	opacity:.5;
	width:100%;
	position:fixed;
	display:none;
}