/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 1;
	height: 1;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

body {
	margin:auto;
}
@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-Medium.eot');
    src: url('CooperHewitt-Medium.eot?#iefix') format('embedded-opentype'),
    	 url('CooperHewitt-Medium.woff') format('woff'),
    	 url('CooperHewitt-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'Cooper Hewitt Bold';
    src: url('CooperHewitt-Bold.eot');
    src: url('CooperHewitt-Bold.eot?#iefix') format('embedded-opentype'),
    	 url('CooperHewitt-Bold.woff') format('woff'),
    	 url('CooperHewitt-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
	}


	p{
		font-family:'Cooper Hewitt';
		font-size:1em;

	}
h2{
    padding:20px 10px 20px 10px;
    text-align:center;
    font-family: helvetica, sans-serif;
	font-weight: bold;
	line-height: 1.6em;
	font-size:20pt;
	color: white;
	letter-spacing:.1em;
	max-width:700px;
	text-transform: uppercase;
	border: solid #fff;
	border-width: 2px;
    }
h3 {
	margin:auto;
	margin-top: 40px;
	margin-left:170px;
	font-family: 'League Gothic';
	text-transform:uppercase;
	letter-spacing: .15em;
	font-size:1em;
	color:#b91f33;
	text-align:left;
	border: solid #b91f33;
	border-width: 0 0 2px 0;
	width:240px;
	line-height:2.2em;
}
h4 {
	font-family: 'League Gothic';
	letter-spacing: .15em;
	font-size:1.4em;
	color:#b91f33;
	text-transform:uppercase;
	padding-bottom:5px;
	padding-top:30px;
}
.textblock h1{
	margin:auto;
	font-family: 'League Gothic';
	letter-spacing: .15em;
	font-size:1.6em;
	color:white;
	text-align:center;
	border: solid white;
	border-width: 0 0 2px 0;
	width:60%;
	margin-bottom:36px;
	line-height:2.2em;
}
#recentwork{
	position:absolute;
	width:100%;
	height: 700px;
	background-color:white;
	z-index:444;
	top: 800px;
}
#sometext {
	margin:auto;
	position:absolute;
	z-index:333;
	top: 400px;
	left:25%;
	right:25%;
}

#navwrapper{
	background-color: white;
	position: fixed;
	width:100%;
	z-index:666;
}
#title{		
	display: block;
	height: 0px;
	background: url(images/logo.png) no-repeat top left;
	text-indent: -9999px;
	float:left;
	}

#logosmall{
	margin-left:120px;
	float:left;

}	
nav {
	position:fixed;
	right:99px;
}
ul {
	list-style: none; 
}
li {
	float:left;
	font-family: 'League Gothic';
	text-decoration: none;
	padding:50px 50px 0 0;
	margin-right:15px;
	text-transform:uppercase;
	letter-spacing:.15em;
	font-size:1.2em;
}
.gear {
	list-style: none; 
	float:left;
}

.type{
	list-style:none;
	position: absolute;
	width:100px;
	top:100px;
}
.type2{
	list-style:none;
	clear:left;
	position:absolute;
	width:500px;
	left:200px;
	top:100px;
}
.type2 li{
	font-family: 'Cooper Hewitt Bold';
	text-decoration: none;
	letter-spacing:.12em;
	margin-left:15px;
	font-size:2em;
	padding:30px 30px 0 0;
}
.type li {
	font-family: 'Cooper Hewitt Bold';
	text-decoration: none;
	letter-spacing:.12em;
	margin-left:15px;
	font-size:2em;
	padding:30px 30px 0 0;
	color:#b91f33;
}
.gear li {
	font-family: 'Cooper Hewitt Bold';
	text-decoration: none;
	float:none;
	letter-spacing:.12em;
	margin-left:15px;
	font-size:.9em;
	padding:10px 10px 0 0;
}
.news{
	position: relative;
	padding-top:130px;
}
#background_image{
	margin:auto;
	width:100%;
	height:100%;
}
.cdtitle{
	font-family: georgia;
	font-style:italic;
	color:black;
	font-size:1em;
	padding-bottom:.5em;
	line-height:1.5em;
}
.cdartist{
	font-family:helvetica;
	text-transform:uppercase;
	font-size:.7em;
	color:black;
	letter-spacing: .1em;
	font-weight:bold;
	line-height:2em;
	padding-bottom:.5em;
}
.jobtitle {
	color:#b91f33;
	font-size:.7em;
	line-height:1.5em;
	font-family: 'Cooper Hewitt';
}
.job-cover{
	float: left;
	width:25%;
	height:480px;
	position:relative;
	background-color: white;
	display:block;
}

.job-info{
	margin-left:5%;
	margin-top:10px;
	display:block;
}

#work-wrapper {
	position:relative;
	margin: auto 0;
	width:95%;
	padding-left:2.5%;
	padding-right:2.5%;
	top:137px;
}
.albumcover{
	margin-left:5%;
	width:90%;
}
#topnav li {
	text-decoration:none;
	color:black;
}
#topnav a:hover {
	text-decoration:none;
	color:#b91f33;
}
#topnav a {
	text-decoration:none;
	color:black;
	border-color:black;
}
iframe{
	margin-left:150px;
	margin-top:60px;
}
.textblock{
	position:relative;
	top:200px;
	padding-bottom:100px;
	width:46%;
	margin:0 auto;
}
.textblock p {
	font-size:1.2em;
	font-weight:medium;
	padding-bottom:40px;
	line-height:1.8em;
	color:black;
}
.profilepicture{
	position:relative;
	margin:0 auto;
	margin-bottom:15px;
	float:left;
	width:300px;
}
#profilepicture{
	width:250px;
	border:solid 1px black;
	margin-top:9px;
}
#grid{
	opacity:.5;
	width:100%;
	position:fixed;
	display:none;
}
.studiopic {
	margin: 0 auto;
	padding-bottom:20px;
}
#studiopicture{
	width:100%;
}