/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 1;
	height: 1;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

body {
	width:100%;
	margin: 0 auto;
}

.footer1{
	position:absolute;
	top:990px;
	width:80%;
	height:180px;
	margin:0 auto;
	background-color:white;
}
.footer2 {
	position:relative;
	width:100%;
	margin: 0 auto;
}
footer p {
	color:black;
	text-align: center;
	margin-top:20px;
	padding:20px;
	width:120%;
	line-height: 2em;
	margin:0 auto;
}

li{
	float:left;
	padding:20px;
	list-style:none;
	font-family: "soleil", sans-serif;
}
li a {
	color:black;
}
li a:hover {
	color:grey;
}
nav {
	position:fixed;
}
 h3{
 	padding-top:120px;
 	color:black;
	width:630px;
	padding-left:162px;
	padding-bottom:40px;
	font-size:45px;
	line-height:2em;
	font-family: "soleil", sans-serif;
	font-weight:bold;
 }
 h4{
 	color:black;
	width:630px;
	padding-left:162px;
	padding-bottom:80px;
	font-size:24px;
	line-height:2em;
	font-family: "soleil", sans-serif;

 }
h2{
	color:white;
	line-height:1.2em;
	font-size:34px;
	margin-bottom:27px;
	padding-left:55px;
	padding-top:55px;
	font-family: "soleil", sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:.14em;
}
h1 {
	color:white;
	font-family: "soleil", sans-serif;
	padding-left:55px;
	font-size:.6em;
	text-transform:uppercase;
	letter-spacing:.2em;
	font-weight:bold;
	width:100%;
	line-height: 1.8em;
}
p {
	color:white;
	line-height:1.6em;
	width:960px;
	padding-left:2%;
	font-size:.8em;
	letter-spacing: .01em;
	font-family: "soleil", sans-serif;
	float:left;
}
a {
	text-decoration: none;
	color:black;
}
.grid {
	position:fixed;
	margin: 0 auto;
	opacity: .2;
	width:100%;
	display:none;
}
#gridpic{
	width:100%;
}
.navbackground {
	background-color:white;
	width:100%;
	position:fixed;
	height:80px;
	z-index:2;
	margin-top:-2px;
}
.emblem {
	float:left;
	position:fixed;
	left:7%;

}
.homebutton {
	height:80px;
	width:200px;
	float:left;
}
.menubuttons{
	position:fixed;
	left:72%;
	top:10px;
	width:300px;
}
.entry {
	background-color:white;
	width:33.3%;
	height:330px;
	margin-bottom:1px;
	float:left;
}
.blank {
	background-color:white;
	width:33.3%;
	height:130px;
	margin-bottom:1px;
	float:left;
	z-index:555;
}
.workcontainer{
	position:relative;
	top:78px;
}
.info {
	-webkit-transition:opacity .2s; /* For Safari 3.1 to 6.0 */
	transition:opacity .2s;
	position:relative;
	opacity:0;
}
.info:hover{
	position:relative;
	opacity:1;
}
.text{
	position:relative;
	width:33%;
	height:280px;
}
.coverphoto {
	position:absolute;
	width:33.3%;
}
.media {
	margin:0 auto;
	width:962px;
}

.media p{
	color:black;
	width:630px;
	padding-left:162px;
	padding-bottom:80px;
	font-size:16px;
	line-height:2em;
}

.work {
	padding-top:80px;
}
.sample {
	margin-bottom:40px;
}




#box1{
	position:absolute;
	width:100%;
	height:331px;
	background-color:black;
}
#box2{
	position:absolute;
	width:100%;
	height:331px;
	background-color:#0054A6;
}
#box3{
	position:absolute;
	width:100%;
	height:331px;
	background-color:#D92231;
}
#box4{
	position:absolute;
	width:100%;
	height:331px;
	background-color:#b4d333;
}
#box5{
	position:absolute;
	width:100%;
	height:331px;
	background-color:#32308E;
}
#box6{
	position:absolute;
	width:100%;
	height:331px;
	background-color:#4BBFA7;
}
#box7{
	position:absolute;
	width:100%;
	height:331px;
	background-color:#00B3DF;
}