/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 1;
	height: 1;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

body {
	width:900px;
	margin:auto;
}

img {
	max-width:100%;
}
#pics {
	max-width:100%;
	margin-left:35%;
	margin-right:3%;
	position:relative;
	margin-bottom:2em;
	margin-top:1.5em;
	
}
h1 a {
	text-decoration: none;
	font-size:1.5em;
	font-family:helvetica;
	color: black;
	font-weight:bold;
	text-transform:lowercase;
}
h1 a:hover {
	color:#327591;
}
h1 {
	margin-bottom:2em;
	font-weight:bold;
	font-family: helvetica;
	color: black;
}
h3 a {
	text-decoration: none;
	font-style:none;
	color:black;
}
h3 a:hover {
	color:#327591;
}
h3 {
	margin-top:1em;
	font-family: helvetica;
	color:black;
	font-size:.9em;
	text-align: center;
	font-weight:bold;
}
p { 
	font-family: helvetica;
	font-size:.8em;
	line-height: 1.4em;
}
li a {
	float:left;
	margin:.3em;
	font-family: helvetica;
	text-decoration: none;
	background-color:black;
	padding: .2em .5em .2em .5em;
	border-radius:.3em;
	text-decoration: none;
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:.1em;
	color:white;
	font-size:.8em;
}
li a:hover {
	background-color:#327591;
}
header {
	position: absolute;
}
#logosmall {
	margin-left:.7em;
}
#logo {
 	float: left;
 	left:11%;
 	position: fixed;
 	z-index:444;
}
nav {
	left:70%;
	margin-top: 2em;
	max-width:500px;
	position: fixed;
	z-index:444;
}
ul {
	list-style: none; 
}
li {
	float:left;
	font-family: helvetica;
	text-decoration: none;
	
}
#bigwrap {
	margin-top: 10em;
	position: absolute;
}
#info {
	position: fixed;
	left:11%;
	width:22%;
	margin-top:1%;
	padding: 2em 2em 2em 0em;
	border-radius: 2em;
	z-index: 333;
	
}
#vids {
	position: relative;
	margin-left:49%;
	padding-bottom:2em;
	margin-top:1.5em;
}
#homeimages {
	position: absolute;
	margin-top:10em;
	margin-left:1%;
	width:60%;
}
#homeimages article {
	float:left;
	margin:10px;
	margin-top:2em;
}
footer {
	float:left;
	margin-left:20%;
	text-align: center;
	width:60%;
	margin-top:50em;
	margin-bottom:1em;
}
#contactitems li {
	background-color: white;
	float:none;
	margin-top:-.9em;

}
#contactitems a {
	background-color: white;
}
#contactitems h3 a:hover{
	color:#327591;
}
#contactitems {
	position:fixed;
	left:35%;
	right:40%;
	margin-top:5em;
}
#aboutinfo {
	position: relative;
	left:20%;
	width:40%;
	margin-top:3em;
}
#aboutpic {
	margin-left: 60%;
	position:absolute;
	max-width: 100%;
}
#criteria {
	font-family: helvetica;
	line-height: 1.4em;
	margin-top:1em;
	color:#327591;
}
#pageinfo{
	margin-bottom:1em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (max-width : 1424px) {
#homeimages {
	position: absolute;
	margin-top:10em;
	margin-left:1%;
	width:72%;
}	
#info {
	width:22%;
}
}
@media only screen 
and (max-width : 1174px) {
#homeimages {
	position: absolute;
	margin-top:10em;
	margin-left:1%;
	width:90%;
}	
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
#homeimages {
	position: absolute;
	margin-top:10em;
	width:100%;
}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}