/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 1;
	height: 1;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

body {
	margin:auto;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-Medium.eot');
    src: url('CooperHewitt-Medium.eot?#iefix') format('embedded-opentype'),
    	 url('CooperHewitt-Medium.woff') format('woff'),
    	 url('CooperHewitt-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'Cooper Hewitt Bold';
    src: url('CooperHewitt-Bold.eot');
    src: url('CooperHewitt-Bold.eot?#iefix') format('embedded-opentype'),
    	 url('CooperHewitt-Bold.woff') format('woff'),
    	 url('CooperHewitt-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
	}


	p{
		font-family:'Cooper Hewitt', sans-serif;
		font-size:1em;

	}
h2{
	float:left;
	font-family: 'Cooper Hewitt Bold', sans-serif;
	text-decoration: none;
	text-transform:uppercase;
	letter-spacing:.15em;
	font-size:1.13em;
	line-height: 1.8em;
	width:390px;
	padding: 30px;
	border: solid black 2px;
	background-color: white;
}
#intro{
	position:absolute;
	margin-top:140px;
	margin-left: 60px;
	width: 400px;
	top:50px;
}
#mainlink{
	margin-top: -4px;
}
#intro a{
	text-decoration: none;
	color:#b91f33;
}
h3 {
	margin:0 auto;
	padding-top: 20px;
	padding-bottom:10px;
	font-family: 'Cooper Hewitt Bold', sans-serif;
	text-transform:uppercase;
	letter-spacing: .15em;
	font-size:1.2em;
	color:#b91f33;
	text-align:center;
	border: solid #b91f33;
	border-width: 0 0 1px 0;
	width:900px;
	line-height:2.2em;
}
h4 {
	font-family: 'Cooper Hewitt Bold', sans-serif;
	letter-spacing: .15em;
	font-size:1.4em;
	color:#b91f33;
	text-transform:uppercase;
	padding-bottom:5px;
	padding-top:30px;
}
h5{
	font-family: 'Cooper Hewitt Bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: .15em;
	font-size: .9em;
	color:black;
	text-align: center;
	padding:20px;

}
button{
	border:none;
	background-color: white;
	font-family: 'Cooper Hewitt Bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: .15em;
	font-size: 1.2em;
	color:black;
}

.textblock h1{
	margin:auto;
	font-family: 'Cooper Hewitt Bold', sans-serif;
	letter-spacing: .15em;
	font-size:1.6em;
	color:white;
	text-align:center;
	border: solid white;
	border-width: 0 0 2px 0;
	width:60%;
	margin-bottom:36px;
	line-height:2.2em;
}

.navwrapper{
	background-color: white;
	position: fixed;
	width:100%;
	z-index:666;
}
#title{		
	display: block;
	height: 0px;
	background: url(images/logo.png) no-repeat top left;
	text-indent: -9999px;
	float:left;
	}

#logosmall{
	margin-left:120px;
	float:left;

}	
nav {
	position:fixed;
	right:99px;
	top:8px;
}
ul {
	list-style: none; 
}
li {
	float:left;
	font-family: 'Cooper Hewitt Bold', sans-serif;
	text-decoration: none;
	margin-right:15px;
	text-transform:uppercase;
	letter-spacing:.15em;
	font-size:.9em;
	padding-top: 75px;
}
li a {
	padding:0 20px 20px 20px;
}
a:hover{
	color:#b91f33;
}

.gear {
	list-style: none; 
	width:420px;

}

.type{
	list-style:none;
	position: absolute;
	width:100px;
	top:100px;
}
.type2{
	list-style:none;
	clear:left;
	position:absolute;
	width:500px;
	left:200px;
	top:100px;
}
.type2 li{
	font-family: 'Cooper Hewitt Bold', sans-serif;
	text-decoration: none;
	letter-spacing:.12em;
	margin-left:15px;
	font-size:2em;
	padding:30px 30px 0 0;
}
.type li {
	font-family: 'Cooper Hewitt Bold', sans-serif;
	text-decoration: none;
	letter-spacing:.12em;
	margin-left:15px;
	font-size:2em;
	padding:30px 30px 0 0;
	color:#b91f33;
}
.gear li {
	font-family: 'Cooper Hewitt Bold', sans-serif;
	text-decoration: none;
	float:none;
	letter-spacing:.12em;
	margin-left:15px;
	font-size:.9em;
	padding:10px 10px 0 0;
}


.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0px);
}
.parallax__layer--back {
  transform: translateZ(-.35px);
}


#Skinner-142{
	position: fixed;
	width: 150%;
	margin-left: -18%;
	margin-top: -6%;
}


.cdtitle{
	font-family: georgia;
	font-style:italic;
	color:black;
	font-size:1em;
	padding-bottom:.5em;
	line-height:1.5em;
}
.cdartist{
	font-family:helvetica;
	text-transform:uppercase;
	font-size:.7em;
	color:black;
	letter-spacing: .1em;
	font-weight:bold;
	line-height:2em;
	padding-bottom:.5em;
}
.jobtitle {
	color:#b91f33;
	font-size:.7em;
	line-height:1.5em;
	font-family: 'Cooper Hewitt', sans-serif;
	text-align: left;
	padding:0;
}
.job-cover{
	float: left;
	width:25%;
	height:480px;
	position:relative;
	background-color: white;
	display:block;
}

.job-info{
	margin-left:5%;
	margin-top:10px;
	display:block;
}

#work-wrapper {
	position:relative;
	margin: auto 0;
	width:95%;
	padding-left:2.5%;
	padding-right:2.5%;
	top:137px;
}
.albumcover{
	margin-left:5%;
	width:90%;
	border: solid black 1px;
}
.topnav{
	display: block;
}
.topnav li {
	text-decoration:none;
	color:black;
}
.topnav a:hover {
	text-decoration:none;
	color:#b91f33;
}
.topnav a {
	text-decoration:none;
	color:black;
	border-color:black;
}
iframe{
	margin-left:150px;
	margin-top:60px;
}
.worksample4 iframe{
	margin-left:0px;
	margin-top:0px;
	padding-bottom: 20px;
}
.textblock{
	position:relative;
	top:200px;
	padding-bottom:100px;
	width:57%;
	margin:0 auto;
}
.textblock p {
	font-size:1.2em;
	font-weight:medium;
	padding-bottom:40px;
	line-height:1.8em;
	color:black;
}
.profilepicture{
	position:relative;
	margin:0 auto;
	margin-bottom:15px;
	float:left;
	width:300px;
}
#profilepicture{
	width:250px;
	border:solid 1px black;
	margin-top:9px;
}
#grid{
	opacity:.5;
	width:100%;
	position:fixed;
	display:none;
}
.studiopic {
	margin: 0 auto;
	padding-bottom:20px;
}
#studiopicture{
	width:100%;
	margin-bottom: 40px;
	border: solid black 1px;
}
#studiopicture2{
	margin-top:80px;
	width:100%;
	border: solid black 1px;
}
.quickabout{
	width:100%;
	height:900px;
	background-color: white;
	z-index:444;
	position: relative;
	top:650px;
}
.quickabout a{
	text-decoration: none;
	color:#b91f33;
}
.quickabout a:hover{
	padding-bottom: 10px;
	border-bottom: 8px solid #b91f33;
}
.mobilenav{
	display:none;
}
@media screen and (max-width: 1400px) {

.job-cover{
	float: left;
	width:25%;
	height:420px;
	position:relative;
	background-color: white;
	display:block;
}
#Skinner-142{
	position: fixed;
	width: 190%;
	margin-left: -18%;
	margin-top: -8%;
}

}

@media screen and (max-width: 1000px) {
#Skinner-142{
	position: fixed;
	width: 300%;
	margin-left: -38%;
	margin-top: -1%;
}
#logosmall{
	margin-left: 60px;
}
.topnav{
	display: none;
}
.mobilenav{
	display:block;
}
.dropdown{
	display:none;
}
.closebutton{
	display:none;
}
.closebutton2{
	display:block;
	position: absolute;
	right:7%;
	top:70px;
}
.menubutton{
	display:block;
	position: absolute;
	right:7%;
	top:70px;
}
.menubutton2{
	display:none;
}
.navwrapper2{
	height:100%;
	width:100%;
	position:fixed;
	z-index: 999;
	background: white;
}
.dropdown2{
	display:block;
	position: absolute;
	top:180px;	
	left:30%;
}

.dropdown2 li{
	font-size: 3em;
	float:none;
	padding:20px;
	text-align: left;
}
.dropdown2 a{
	text-decoration: none;
	color:black;
	float:none;
}
.dropdown2 a:hover{
	color:#b91f33;
}

.job-cover{
	float: left;
	width:25%;
	height:400px;
	position:relative;
	background-color: white;
	display:block;
}
h2{
	font-size: 1.13em;
	width:400px;
	border: solid black 2px;
	padding:30px;
}
#intro{
	margin-top:140px;
	margin-left: 60px;
}

.type li{
	font-size: 1.4em;
}
.type2 li{
	font-size: 1.4em;
}
.type2{
	left:130px;
}
.profilepicture{
	margin-left: 0px;
	width:100%;
	float:none;
	padding-bottom: 60px;
}
#profilepicture{
	width:100%;
}

}



/*mobile styles*/

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	#logosmall{
	margin-left: 60px;
}
#intro{
	position:absolute;
	margin:35% 23% 23% 23%;
	top:50px;
}
.topnav{
	display: none;
}
.mobilenav{
	display:block;
}
.dropdown{
	display:none;
}
.closebutton{
	display:none;
}
.closebutton2{
	display:block;
	position: absolute;
	right:7%;
	top:70px;
}
.menubutton{
	display:block;
	position: absolute;
	right:7%;
	top:70px;
}
.menubutton2{
	display:none;
}
.navwrapper2{
	height:100%;
	width:100%;
	position:fixed;
	z-index: 999;
	background: white;
}
.dropdown2{
	display:block;
	position: absolute;
	top:180px;	
	left:30%;
}

.dropdown2 li{
	font-size: 3em;
	float:none;
	padding:20px;
	text-align: left;
}
.dropdown2 a{
	text-decoration: none;
	color:black;
	float:none;
}
.dropdown2 a:hover{
	color:#b91f33;
}
.about{
	padding-top: 80px;
}
.type li{
	font-size: 2.6em;
	line-height: 171px;
}
.type2 li{
	padding-top:150px; 
	font-size: 2.6em;
	width:800px;
}
.type2{
	left:0px;
}
.parallax {
  perspective: 0;
  height: 0;
  overflow-x: none;
  overflow-y: none;
}
.parallax__layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(0);
}
#Skinner-142{
	position: fixed;
	width: 250%;
	margin-left: -28%;
	margin-top: 0%;
}

.textblock{
	width:800px;
}
button{
	font-size: 2.3em;
}
.menubutton{ 
	right:4.5%;
}
.closebutton{ 
	right:4.5%;
}
a:hover{
	color:black;
}
.navwrapper{
	height:190px;
}
.navwrapper2{
	height:100%;
}
#logosmall{
	width: 300px;
	margin-left: 80px;
}
#piano{
	padding-left:120px;
	padding-top: 10px;
	width:1200px;
}
#machine1{
	padding-top: 120px;
}
h2{
	font-size: 2.6em;
	width:700px;
	border: solid black 6px;
	padding:45px;
	margin-left: -142px;
	margin-top:-20px;
}
.dropdown2 li{
	font-size: 6em;
	padding-top: 45px;
	padding-bottom: 45px;  
}
.dropdown2 ul{
	margin-top: 100px;
	margin-left: -245px;
}
.textblock p{
	font-size: 2.1em;
}
h4{
	font-size: 3.1em;
	padding-top: 100px;
}
.gear{
	width:900px;
}
.gear li{
	font-size: 2.1em;
	padding: 30px 30px 0 0;
}
.profilepicture{
	margin-left: 0px;
	width:790px;
	float:none;
	padding-bottom: 60px;
}
#profilepicture{
	width:790px;
}
#work-wrapper{
	padding-top:120px;
	padding-left: 50px;
	position: absolute;
}
.job-cover{
	float:none;
	width:860px;
	height:none;
	margin-bottom: 70px;
	position: none;
}
.job-info{
	width:600px;
	padding-left:300px;
}
.albumcover{
	float:left;
	width:40%;
	margin-left: -30px;
}
.cdtitle{
	font-size: 2.6em;
	padding-bottom: .2em;
}
.cdartist{
	font-size: 2em;
}
.jobtitle{
	font-size: 2.2em;

}
/* Styles */



}