/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Add Styles Here */

body{
	width:960px;
	margin: 0 auto;
	background-color:white;
}
.container{
	margin-top:20px;
}

.item {
	width:30%;
	margin-right:2%;
	float:left;
}

.item img{
	width:100%;
	border:solid 1px;

}
h1 {
	font-family:arial;
	margin:10px;
	padding-bottom:20px;
	letter-spacing: .05em;
}
h2{
	font-family:arial;
	margin:10px;
	font-weight:bold;
	font-size: 20px;
	letter-spacing: .05em;
}
button{
   margin:20px;
   letter-spacing: .1em;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   padding: 7px 14px;
   border-radius: 0px;
   font-size: 10px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
button:hover {
   border-top-color: #000000;
   background: #000000;
   color: #ffffff;
   }
button:active {
   border-top-color: #2bc6ff;
   background: #2bc6ff;
   }

h3{
	font-size:12px;
	color:#2bc6ff;
	margin-top:20px;
}