

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */
header {
	font-family:helvetica;
	position:relative;
	font-size:180%;
	padding:3% 3% 3% 3%;
	text-transform:uppercase;
	font-weight:bold;
	color:white;
	background-color:magenta;
}

img {
	float:left;
	width:100%;
	padding-bottom:10%;
	padding-top:5%;
}
#sans {
	float:left;
	width:30%;
	font-family:helvetica, sans-serif;
	padding:2%;
	position:absolute;
	line-height:160%;
}
ul {
	float:left;
	padding:6%;
	width:20%;
	position:absolute; left:29%;
}
li {
	font-family: helvetica;
	font-size:80%;
}
#instructions {
	width:40%;
	line-height:160%;
	clear:both;
	padding-top:39%;
	padding-left:35%;
}
a {
	text-decoration:none;
	color:red;
	text-transform:uppercase;
	padding:2px;
}
a:hover {
	background-color:black;
	font-weight:bold;
	color:white;
}
