/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Add Styles Here */
h1 {
	color:white;
	font-family: "brandon-grotesque",sans-serif;
	text-transform:uppercase;
	letter-spacing:.2em;
	float:left;
	font-size:.7em;
	padding:30px 10px 10px 10px;
}
h2{
	padding:12px;
	text-transform: uppercase;
	font-family: "brandon-grotesque",sans-serif;
	color:#053775;
	letter-spacing:.1em;
	font-weight:bold;
}
h3{
	margin-left:244px;
	padding:33px 0 0 0;
	text-transform: uppercase;
	font-size:.6em;
	font-family: "brandon-grotesque",sans-serif;
	color:#053775;
	letter-spacing:.1em;
}
h4{
	margin-left:318px;
	padding:10px 0 0 0;
	text-transform: uppercase;
	font-size:.6em;
	font-family: "brandon-grotesque",sans-serif;
	color:#053775;
	letter-spacing:.1em;
}

ul {
	position:fixed;
	right:0;
	width:800px;
}

li {
	background-color:#053775;
	height:44px;
	width:180px;
	float:left;
	text-align:center;
	padding-top:26px;
	text-transform:uppercase;
	font-family: "brandon-grotesque",sans-serif;
	font-weight:bold;
	letter-spacing:.3em;
	font-size:.9em;
	color:white;
}

p{
	width:590px;
	padding:55px 0 55px 55px;
	font-size:.8em;
	letter-spacing:.01em;
	line-height:1.7em;
	font-family: "brandon-grotesque",sans-serif;
	font-weight:bold;
	color:#053775;
}

.aboutimage{
	margin-left:308px;
}
.aboutimage2{
	margin-left:330px;
}

.upload:hover {
	background-color:#91C848;
}
.filter:hover{
	background-color:#00A3D8;
}
.about:hover {
	background-color:#C9C473;
}
.contact:hover{
	background-color:#DC1254;
}

.navbar {
	background-color:#053775;
	position:fixed;
	width:100%;
	height:70px;
	z-index:555;
}
.logo {
	padding:15px;
	margin-left:2%;
	float:left;
}
.toolset {
	position:fixed;
	bottom:2.8%;
	right:3%;
	width:50px;
	z-index:666;
}
.toolset img {
	padding:5px;
}
.map{

}
.map2{
	display:none;
}
.overlay{
	height:100%;
	width:100%;
	position:fixed;
	background-color:#053775;
	z-index: 444;
	opacity:.5;
}
.aboutpage{
	height:700px;
	width:710px;
	left:24%;
	top:13%;
	position:fixed;
	z-index: 555;
	background-color:white;
}

/* filter page */

h5 {
	font-family: "brandon-grotesque",sans-serif;
	color:white;
	font-weight:bold;
	float:left;
	font-size:.7em;
	letter-spacing:.1em;
	padding-left:78px;
	padding-top:20px;
}
h6{
	font-family: "brandon-grotesque",sans-serif;
	color:white;
	font-weight:bold;
	float:left;
	padding-top:38px;
	padding-left:24px;
	letter-spacing:.05em;
	font-size:.9em;
}

.filterpage{
	width:355px;
	height:340px;
	background-color:#053775;
	position:fixed;
	bottom:0;
	z-index:556;
}
.usericon{
	padding-top: 30px;
	padding-left:30px;
	float:left;
}
.label{
	margin-left:-50px;
	padding-top:50px;
	float:none;
	clear:left;
}
.closebutton{
	padding:12px;
}
.filterbar{
	margin:30px 0 0 30px;
	background-color:white;
	width:200px;
	height:40px;
	float:left;
}
.dropdownbox{
	background-color:white;
	width:40px;
	height:40px;
	margin: 30px 0 0 10px;
	float:left;
}
.filterbar2{
	margin:20px 0 0 30px;
	background-color:white;
	width:200px;
	height:40px;
	float:left;
}
.dropdownbox2{
	background-color:white;
	width:40px;
	height:40px;
	margin: 20px 0 0 10px;
	float:left;
}
.arrow {
	padding:13px;
}

/*upload page*/

.uploadpage{
	width:355px;
	height:720px;
	background-color:#053775;
	position:fixed;
	bottom:0;
	z-index:556;
}
input {
	padding:7px 29px 7px 7px;
	font-family:"brandon-grotesque",sans-serif;
	font-style: italic;
	font-size:1em;
	margin:15px 15px 0px 50px;
	color:#053775;
}
.lastinput{
	padding:7px 29px 45px 7px;
}
form {
	margin-top:15px;
}
.imagedrop{
	margin:40px 40px 15px 50px ;
	background-color:#053775;
	border: dashed 2px white;
	height:100px;
	width:244px;
}
.picicon{
	padding:28px 0 0 96px ;
}
.choosefilebutton{
	text-align:center;
	padding:12px;
	text-transform:uppercase;
	font-family: "brandon-grotesque",sans-serif;
	font-weight:bold;
	letter-spacing:.2em;
	font-size:.8em;
	color:white;
	margin-left:50px;
	background-color:#053775;
	border: solid 2px white;
	width:220px;
}
.uploadbutton{
	margin-top:22px;
	width:100%;
	height:40px;
	background-color:#053775;
	padding-top:30px;
	text-align: center;
	font-family:helvetica, sans-serif;
	text-transform:uppercase;
	font-weight: bold;
	color:white;
	letter-spacing: .09em;
}
.uploadbutton:hover{
	background-color:#91C848;
}
.cancelbutton{
	width:100%;
	height:40px;
	background-color:#053775;
	padding-top:30px;
	text-align: center;
	font-family:helvetica, sans-serif;
	text-transform:uppercase;
	font-weight: bold;
	color:white;
	letter-spacing: .09em;
}
.cancelbutton:hover{
	background-color:#DC1254;
}

/* big view */
.bigview{
	position:absolute;
	left:350px;
	top:1230px;
	z-index:377;
}

.bigview2{
	position:absolute;
	left:702px;
	top:1010px;
	z-index:377;
}

.bigviewbox{
	width:380px;
	height:360px;
	background-color:white;
	border: solid 20px #053775;
}
.bigarrow{
	margin-left:188px;
}

.category p {
	margin-top:-56px;
	margin-left:-30px;
	text-align: right;
	color:red;
	width:50px;
	float:left;
	line-height:1.5em;
}
.answers p {
	margin-top:-55px;
	margin-left:-45px;
	width:200px;
	float:left;
	line-height:1.5em;
}
.profile {
	padding:20px;
}
.pic1 {
	padding:20px;
}
.pic2 {
	padding:20px;
}
.logoblue {
	clear:left;
	padding-top:20px;
}
.unitname {
	margin:-50px;
}
.iconblue{
	padding-top:10px;
	padding-left:24px;
}


/* map stuff */
.pin-1 {
	position:absolute;
	top:400px;
	left:400px;
}
.pin-2 {
	position:absolute;
	top:1523px;
	left:700px;
}
.pin-3 {
	position:absolute;
	top:1200px;
	left:1200px;
}
.pin-4 {
	position:absolute;
	top:1800px;
	left:1400px;
}
.pin-5 {
	position:absolute;
	top:1500px;
	left:500px;
}
.pin-6 {
	position:absolute;
	top:1600px;
	left:600px;
}
.pin-7 {
	position:absolute;
	top:1200px;
	left:1200px;
}
.pin-8 {
	position:absolute;
	top:1100px;
	left:1100px;
}
.pin-9 {
	position:absolute;
	top:1000px;
	left:300px;
}
.pin-10 {
	position:absolute;
	top:600px;
	left:500px;
}
.pin-11 {
	position:absolute;
	top:700px;
	left:120px;
}
.pin-12 {
	position:absolute;
	top:1000px;
	left:800px;
}
.pin-13 {
	position:absolute;
	top:200px;
	left:1600px;
}
.pin-14 {
	position:absolute;
	top:230px;
	left:1100px;
}
.pin-15 {
	position:absolute;
	top:1400px;
	left:1100px;
}
.pin-16 {
	position:absolute;
	top:1600px;
	left:1330px;
}
.pin-17 {
	position:absolute;
	top:1150px;
	left:80px;
}
.pin-18 {
	position:absolute;
	top:1700px;
	left:700px;
}
.pin-19 {
	position:absolute;
	top:300px;
	left:1200px;
}
.pin-20 {
	position:absolute;
	top:200px;
	left:200px;
}
.pin-21 {
	position:absolute;
	top:180px;
	left:100px;
}
.pin-22 {
	position:absolute;
	top:1440px;
	left:900px;
}
.pin-23 {
	position:absolute;
	top:600px;
	left:700px;
}
.pin-24 {
	position:absolute;
	top:600px;
	left:100px;
}
.pin-25 {
	position:absolute;
	top:100px;
	left:100px;
}
.pin-26 {
	position:absolute;
	top:160px;
	left:300px;
}
.pin-27 {
	position:absolute;
	top:1200px;
	left:300px;
}
.sticker1 {
	position:absolute;
	top:470px;
	left:580px;
}
.sticker2 {
	position:absolute;
	top:620px;
	left:580px;
}
.sticker3 {
	position:absolute;
	top:790px;
	left:280px;
}
.sticker4 {
	position:absolute;
	top:970px;
	left:390px;
}
.sticker5 {
	position:absolute;
	top:980px;
	left:1000px;
}
.sticker6 {
	position:absolute;
	top:1160px;
	left:780px;
}
.sticker7 {
	position:absolute;
	top:1260px;
	left:630px;
}
.sticker8 {
	position:absolute;
	top:1460px;
	left:770px;
}
.sticker9 {
	position:absolute;
	top:1640px;
	left:540px;
}
.sticker10 {
	position:absolute;
	top:1700px;
	left:1040px;
}