/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 1;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

body{
	width:100%;
	background-color: #f4f4f4;
	width:100%;
	height:100%;
	position:absolute;
}
a{
	color:#2c2c2c;
}
a:hover{
	color:#4e4e4e;
}
.nav{
	position:fixed;
	width:100%;
	height:80px;
}

.work{
	padding-top:200px;
	display:block;
	width:1200px;
	margin: 0 auto;
}
.worklink{
	float:left;
	margin-left: 35px;
	margin-bottom: 35px;
	width:540px;
	height:480px;
}
.worklinkpic{
	width:540px;
	height:340px;
	display: block;
}

p{
	font-family: helvetica, sans-serif;
	letter-spacing: .08em;
	font-size:.75em;
	color:#2c2c2c;
	line-height: 1.7em;
}
h1{
	float:left;
	font-family: helvetica, sans-serif;
	letter-spacing: -.04em;
	font-weight: bold;
	font-size: 1.7em;
	color:#2c2c2c;
	margin-top: 50px;
	text-indent:-9999px;
}
#logo{
	margin-top:53px; 
	width:90px;
	margin-left: -80px;
	padding-right:30px;
	padding-bottom: 30px; 
}
h2{
	font-family: helvetica, sans-serif;
	letter-spacing: .07em;
	font-size: .95em;
	color:#2c2c2c;
	margin-top: 25px;
	margin-bottom: 20px;
}
.button{
	text-decoration: none;
	border: none;
	font-size: .9em;
	background-color: rgba(255,0,0,  0);
	color:#2c2c2c;
	width:100px;
	height:35px;
	letter-spacing: .55em;
	font-weight: bold;
	font-family: helvetica, sans-serif;
}

.button:hover{
	color:#5e5e5e;
}
.infobutton{
	display:block;
	position:absolute;
	right:50px;
	top:50px;
}
.infobutton2{
	display:none;
}
.closebutton{
	display:hidden;
    opacity:0;
    
}
.closebutton2{
	display:block;
    opacity:1;
	width:421px;
	height:200px;
	position:absolute;
	right:50px;
	top:32px;
	background-color: white;
	float: left;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    
}
.closebutton2 button{
	position:absolute;
	right:10px;
	top:8px;
	padding-right: 30px;
	font-size: .4em;
}

#closeicon{
	position: absolute;
	top:19px;
	right:21px;
}

.infofirstline{
	position: absolute;
	top:35px;
	right:130px;
	width:250px;
}
.infosecondline{
	position: absolute;
	right:130px;
	top:100px;
	width:250px;
	font-style: italic;
}
.workpage{
	padding-top:200px;
	display:block;
	width:1015px;
	margin: 0 auto;
}
.text{
	width:255px;
	margin-left: 760px;
	margin-bottom: 35px;
}
.workimage{
	display: block;
	width:100%;
	height:677px;
	margin-bottom: 35px;
}
#photocred{
	padding-bottom: 80px;
}


@media screen and (max-width: 1200px) {
.work{
	padding-top:200px;
	display:block;
	width:600px;
	margin: 0 auto;
}


}
@-moz-document url-prefix() { 
  #logo{
	margin-left: 40px;
}
}
/*mobile styles*/

@media screen and (max-device-width: 640px){


.work{
	padding-top:200px;
	display:block;
	width:800px;
	margin: 0 auto;
}
.worklink{
	float:left;
	margin-left: 0px;
	padding-bottom: 70px;
	width:100%;
	height:900px;
}
.worklinkpic{
	width:100%;
	display: block;
	height:520px;
}
.worklinkpic img{
	width:100%;
}
h2{
	font-family: helvetica, sans-serif;
	letter-spacing: .07em;
	font-size: 2.8em;
	color:#2c2c2c;
	margin-top: 40px;
	margin-bottom: 40px;
}
p{
	font-size:2.1em;
}
h1{
	float:left;
	font-family: helvetica, sans-serif;
	letter-spacing: -.04em;
	font-weight: bold;
	font-size: 2.5em;
	color:#2c2c2c;
	margin-top: 75px;
	margin-left: 90px;
}
.nav{
	position:fixed;
	width:100%;
	height:200px;
	background-color: #f4f4f4;
}
.infobutton{
	display:block;
	position:absolute;
	right:90px;
	top:74px;

}
.button{
	text-decoration: none;
	border: none;
	font-size: 2.1em;
	background-color: rgba(255,0,0,  0);
	color:#2c2c2c;
	width:175px;
	height:55px;
	letter-spacing: .55em;
	font-weight: bold;
	font-family: helvetica, sans-serif;
}
.closebutton2{
	display:block;
	width:100%;
	height:600px;
	position:absolute;
	right:105px;
	left:45px;
	top:45px;
	background-color: white;
}

.closebutton2 button{
	position:absolute;
	right:115px;
	top:57px;
	font-size: 1.1em;

}
#closeicon{
	position: absolute;
	top:75px;
	right:115px;
	width:20px;
}
.infofirstline{
	position: absolute;
	top:80px;
	right:330px;
	width:600px;
}
.infosecondline{
	position: absolute;
	right:330px;
	top:300px;
	width:600px;
	font-style: italic;
}
#logo{
	margin-top:80px; 
	width:120px;
	margin-left: -200px;
}
.text{
	margin-left:80px;
	width:840px;
}
.workimage{
	margin-bottom:0;
}

}

@media screen and (max-device-width: 640px) and (orientation: landscape){

.nav{
	position:fixed;
	width:100%;
	height:0px;
	background-color: none;

}
#logo{
	margin-top: 23px;
}
.infobutton{
	top:20px;
	right:50px;
}

}
