/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 1;
	height: 1;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

h1{
	font-family:helvetica;
	font-weight:bold;
	font-size: 1.5em;
	margin-bottom:10px;
}
h3{
	font-family:helvetica;
	font-weight:bold;
	font-size: 1em;
	text-align:center;
}
header {
	width:100%;
	position:fixed;
	background-color:white;
	float:left;
}

li {
	list-style-type: none;
	float:left;
}
p{
	font-family:helvetica;
	font-size:14px;
	line-height:18px;
}
header a
{
	text-decoration:none;
	color:black;
}
#topnav {
	float:right;
	padding-right: 10%;
}
#topnav a{
	float:right;
	margin:5px 5px 8px 5px;
	padding:5px;
	background-color:black;
	color:white;
	text-transform:uppercase;
	font-size:12px;
	letter-spacing:.2em;
	text-decoration:none;
	font-family:helvetica;
	font-weight:bold;
}
#logo {
	padding:1% 0 0 4%;
}
#homeimages{
	padding-top:200px;
	width:960px;
	height:700px;
	margin:auto;
}
#homeimages article{
	float:left;
	margin:2%;

}
#homeimages img{
	margin:2%;
}

footer {
	height:30px;
	width:100%;
	margin:10px;
	padding-top:500px;

}
#bonusinfo p{
	font-family:helvetica;
	font-size:12px;
	color:black;
	top-margin:10px;
}

#bigwrap {
	padding-top:200px;
}
#text {
	width:300px;
	float:left;
	position:fixed;
}
#pageimages {
	width:800px;
	float:right;
}
#vids {
	width:800px;
	float:right;
}
#bonusinfo {
	width:500px;
}
#text {
	padding-left:4%;
}
#info {
	margin-top:2px;
}
#relatedworks {
	margin-top:200px;
	width:300px;
}
#relatedworks h3{
	text-align:left;
	padding-bottom:20px;
}
#relatedworks img{
	margin:5px;
}
#superwrap {
	width:400px;
	margin:auto;
}
#superwrap img{
	float:right;
}
#contactinfo li{
	margin-right:90px;
	line-height:30px;
	text-decoration:none;
	font-family:helvetica;
	color:black;
	font-size:12px;
}
#contactinfo a{
	color:red;
	text-decoration:none;
	font-size:13px;
}
#contactinfo a:hover{
	color:black;
	text-decoration:none;
	font-size:13px;
}
@media screen and (max-width:1500px){
	#topnav a{
		background-color: #253859;
	}
	h3 {
		color: #253859;
	}
	header a {
		color: #253859;
	}
	h1 {color: #253859;}
}
@media screen and (max-width:1350px){
	#topnav a{
		background-color: #8b9bbf;
	}
	h3 {
		color: #8b9bbf;
	}
	header a {
		color: #8b9bbf;
	}
	h1 {color: #8b9bbf;}
	#pics img{
		width:600px;
		float:none;
		padding-left:90px;
	}
	#pics #pageimages{
		width:600px;
	}

}
@media screen and (max-width:1200px){
	#topnav a{
		background-color: #298b28;
	}
	h3 {
		color: #298b28;
	}
	header a {
		color: #298b28;
	}
	h1 {color: #298b28;}
	#pics img{
		width:550px;
		float:none;
		padding-left:130px;
	}
	#pics #pageimages{
		width:550px;
	}
}	
@media screen and (max-width:1000px){
	#topnav a{
		background-color: #d7b04b;
	}
	h3 {
		color: #d7b04b;
	}
	header a {
		color: #d7b04b;
	}
	h1 {color: #d7b04b;}
	#pics img{
		width:480px;
		float:none;
		padding-left:300px;
	}
	#pics #pageimages{
		width:480px;
	}
}
@media screen and (max-width:900px){
	#topnav a{
		background-color: #d80051;
	}
	h3 {
		color: #d80051;
	}
	header a {
		color: #d80051;
	}
	h1 {color: #d80051;}
}
@media screen and (max-width:800px){
	#homeimages article {float:none;}
	#homeimages {width:300px; float:center;}
	footer{padding-top:1000px;}
	#text{position:none; float:none;}
	#topnav a{
		background-color: #5b2f16;
	}
	h3 {
		color: #5b2f16;
	}
	header a {
		color: #5b2f16;
	}
	h1 {color: #5b2f16;}	
}
@media screen and (max-width:500px){
	#homeimages article {float:none;}
	#homeimages {width:300px; float:center;}
	footer{padding-top:1000px;}
	#text{position:none; float:none;}
	#topnav a{
		background-color: #27738b;
	}
	h3 {
		color: #27738b;
	}
	header a {
		color: #27738b;
	}
	h1 {color: #27738b;}
	#text{
		position:static;
	}
	#relatedworks{
		visibility:none;
	}
	}


