/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 1;
	height: 1;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

body {
	margin:auto;
}

@import url("//hello.myfonts.net/count/2cec7b"); 
@font-face {font-family: 'CenturyGothicStd-Bold';src: url('webfonts/2CEC7B_0_0.eot');src: url('webfonts/2CEC7B_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2CEC7B_0_0.woff2') format('woff2'),url('webfonts/2CEC7B_0_0.woff') format('woff'),url('webfonts/2CEC7B_0_0.ttf') format('truetype');} 
@font-face {font-family: 'BrandonGrotesque-Black';src: url('webfonts/2CEC7B_1_0.eot');src: url('webfonts/2CEC7B_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2CEC7B_1_0.woff2') format('woff2'),url('webfonts/2CEC7B_1_0.woff') format('woff'),url('webfonts/2CEC7B_1_0.ttf') format('truetype');}


/* */

.main{
	background-color: #afdad5;
	position:absolute;
	margin: auto 0;
	height:100%;
	width: 100%;
}
.info{
	position: relative;
	top:30%;
	margin:0 auto;
	width:700px;
	height:50px;
	background-color: #3dc3cc;
}

.teaseinfo{
	position: relative;
	font-family: 'BrandonGrotesque-Black';
	text-transform: uppercase;	
	font-size: 14px;
	text-align: center;
	letter-spacing: .35em;
	padding-top: 0px;
}
.social{
	position:absolute;
	bottom:15%;
	left:5%;
}

.teaseheader{
	font-family: 'BrandonGrotesque-Black';
	text-transform: uppercase;	
	font-size: 28px;
	text-align: center;
	letter-spacing: .25em;
	color:white;
	padding-top: 12px;
}
#parallelogram2 {
	margin-left:-50%;
	position:absolute;
	width: 100%;
	height: 100%;
	-webkit-transform: skew(45deg);
	   -moz-transform: skew(45deg);
	     -o-transform: skew(45deg);
	background: #3dc3cc;
	-webkit-animation-name: shine;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: once;  
}


@-webkit-keyframes shine {
    0% {
        transform: translatex(0) translatey(0)
    }
    100% {
        transform: translatex(100%) translatey(100%);
        -webkit-transform: skew(45deg);
	   -moz-transform: skew(45deg);
	     -o-transform: skew(45deg);
    }
}



/* */

.nav{
	position:fixed;
	background-color: white;
	width:100%;
	height:80px;
	z-index: 666;
}
.logo{
	float:left;
}
#logo-text{
	position:fixed;
	margin-left:-9999px;
}
#logo-img{
	position:fixed;
	top:16px;
	left:45px;
}
.menu-button{
	position:fixed;
	padding:30px;
	right:15px;
}

.bar1 {
	width:20px;
	height:4px;
	background-color: #3dc3cc;
	margin-top:4px;
	-webkit-transition: all .45s ease;  
    -moz-transition: all .45s ease;  
    -o-transition: all .45s ease;  
    transition: all .45s ease; 
}

.bar2 {
	width:20px;
	height:4px;
	background-color: #3dc3cc;
	margin-top:4px;
	-webkit-transition: all .45s ease;  
    -moz-transition: all .45s ease;  
    -o-transition: all .45s ease;  
    transition: all .45s ease;  
}
.bar3 {
	width:20px;
	height:4px;
	background-color: #3dc3cc;
	margin-top:8px;
	-ms-transform: rotate(225deg); /* IE 9 */
    -webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
    transform: rotate(225deg);
	-webkit-transition: all .45s ease;  
    -moz-transition: all .45s ease;  
    -o-transition: all .45s ease;  
    transition: all .45s ease; 
}

.bar4 {
	width:20px;
	height:4px;
	background-color: #3dc3cc;
	margin-top:-4px;
	-ms-transform: rotate(-225deg); /* IE 9 */
    -webkit-transform: rotate(-225deg); /* Chrome, Safari, Opera */
    transform: rotate(-225deg);
	-webkit-transition: all .45s ease;  
    -moz-transition: all .45s ease;  
    -o-transition: all .45s ease;  
    transition: all .45s ease; 
}

.nav-extended{
	position:fixed;
	height:40px;
	width:100%;
	background-color: #3dc3cc;
	top:40px;
	z-index: 444;
	-webkit-transition: all .45s ease;  
    -moz-transition: all .45s ease;  
    -o-transition: all .45s ease;  
    transition: all .45s ease; 
}
.nav-extended2{
	position:fixed;
	height:40px;
	width:100%;
	background-color: #3dc3cc;
	top:80px;
	z-index: 444;
	-webkit-transition: all .45s ease;  
    -moz-transition: all .45s ease;  
    -o-transition: all .45s ease;  
    transition: all .45s ease; 
}
ul{	position:fixed;
	right:45px;
}
li {
	float:left;
	list-style: none;
	color:white;
	padding-left:70px;
	padding-top:12px;
	font-family: CenturyGothicStd-Bold; 
	font-weight: normal; 
	font-style: normal; 
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .2em;
}
p{
	font-family: CenturyGothicStd-Bold;
	font-weight: normal; 
	font-style: normal; 
	font-size:16px;
	line-height:25px;
	color:#222222;
	letter-spacing: .05em;	
}
a{
	text-decoration: none;
	color:#fff;
}
h2{
	font-family: CenturyGothicStd-Bold;
	font-weight: normal; 
	font-style: normal; 
	font-size:45px;
	line-height: 60px;
	color:#222222;
	padding-bottom:45px;
}
h4{
	font-family: CenturyGothicStd-Bold;
	font-weight: normal; 
	font-style: normal; 
	font-size:45px;
	line-height:65px;
	padding-top:180px;
	color:white;
	text-align:center;
}

h5{
	font-family: CenturyGothicStd-Bold;
	font-weight: normal; 
	font-style: normal; 
	font-size:30px;
	line-height:40px;
	padding-top:60px;
	color:white;
	letter-spacing: .2em;
	text-align:center;
}
h6{
	font-family: BrandonGrotesque-Black;
	font-weight: normal; 
	font-style: normal; 
	font-size:20px;
	text-transform: uppercase;
	letter-spacing: .2em;
	line-height:40px;
	padding-top:16px;
	color:white;
	text-align:center;
}


.slideshow{
	
	position: relative;
	height:800px;
}

.background-image{
	position:relative;
	width:100%;
}
.background-image img{
	position: absolute;
	width: 100%;
}
#quote1{
	position: absolute;
	z-index: 222;
	margin: 0 120px 0 120px;
	-webkit-animation: cycleone 38s infinite;
    -moz-animation:    cycleone 38s infinite;
    -o-animation:      cycleone 38s infinite;
    animation:         cycleone 38s infinite;
}
#quote2{
	position: absolute;
	z-index: 222;
	margin: 100px 200px 0 200px;
	-webkit-animation: cycletwo 38s infinite;
    -moz-animation:    cycletwo 38s infinite;
    -o-animation:      cycletwo 38s infinite;
    animation:         cycletwo 38s infinite;
}
#quote3{
	position: absolute;
	z-index: 222;
	margin: 0 130px 0 130px;
	-webkit-animation: cyclethree 38s infinite;
    -moz-animation:    cyclethree 38s infinite;
    -o-animation:      cyclethree 38s infinite;
    animation:         cyclethree 38s infinite;
}
#quote4{
	position: absolute;
	z-index: 222;
	margin: 0 100px 0 100px;
	-webkit-animation: cyclefour 38s infinite;
    -moz-animation:    cyclefour 38s infinite;
    -o-animation:      cyclefour 38s infinite;
    animation:         cyclefour 38s infinite;
}
#backimage1{
	padding-top: 40px;
	width:100%;
  -webkit-animation: cycleone 38s infinite;
  -moz-animation:    cycleone 38s infinite;
  -o-animation:      cycleone 38s infinite;
  animation:         cycleone 38s infinite;
}

@-webkit-keyframes cycleone {
  0%   { opacity: 0; }
  1% { opacity: 1; }
  24% { opacity: 1; }
  25% { opacity: 0; }
  100% {opacity: 0;}
}
@-moz-keyframes cycleone {
  0%   { opacity: 0; }
  1% { opacity: 1; }
  24% { opacity: 1; }
  25% { opacity: 0; }
  100% {opacity: 0;}
}
@-o-keyframes cycleone {
  0%   { opacity: 0; }
  1% { opacity: 1; }
  24% { opacity: 1; }
  25% { opacity: 0; }
  100% {opacity: 0;}
}
@keyframes cycleone {
  0%   { opacity: 0; }
  1% { opacity: 1; }
  24% { opacity: 1; }
  25% { opacity: 0; }
  100% {opacity: 0;}
}

#backimage2{
	padding-top: 40px;
	width:100%;
  -webkit-animation: cycletwo 38s infinite;
  -moz-animation:    cycletwo 38s infinite;
  -o-animation:      cycletwo 38s infinite;
  animation:         cycletwo 38s infinite;
}

@-webkit-keyframes cycletwo {
  0%   { opacity: 0; }
  24%  { opacity: 0; }
  25%  { opacity: 1; }
  49%  { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 0; }
}
@-moz-keyframes cycletwo {
  0%   { opacity: 0; }
  24%  { opacity: 0; }
  25%  { opacity: 1; }
  49%  { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 0; }
}
@-o-keyframes cycletwo {
  0%   { opacity: 0; }
  24%  { opacity: 0; }
  25%  { opacity: 1; }
  49%  { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes cycletwo {
  0%   { opacity: 0; }
  24%  { opacity: 0; }
  25%  { opacity: 1; }
  49%  { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 0; }
}

#backimage3{
	padding-top: 40px;
	width:100%;
  -webkit-animation: cyclethree 38s infinite;
  -moz-animation:    cyclethree 38s infinite;
  -o-animation:      cyclethree 38s infinite;
  animation:         cyclethree 38s infinite;
}

@-webkit-keyframes cyclethree {
  0%   { opacity: 0; }
  49%  { opacity: 0; }
  50%  { opacity: 1; }
  74%  { opacity: 1; }
  75%  { opacity: 0; }
  100% { opacity: 0; }
}
@-moz-keyframes cyclethree {
  0%   { opacity: 0; }
  49%  { opacity: 0; }
  50%  { opacity: 1; }
  74%  { opacity: 1; }
  75%  { opacity: 0; }
  100% { opacity: 0; }
}
@-o-keyframes cyclethree {
  0%   { opacity: 0; }
  49%  { opacity: 0; }
  50%  { opacity: 1; }
  74%  { opacity: 1; }
  75%  { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes cyclethree {
  0%   { opacity: 0; }
  49%  { opacity: 0; }
  50%  { opacity: 1; }
  74%  { opacity: 1; }
  75%  { opacity: 0; }
  100% { opacity: 0; }
}

#backimage4{
	padding-top: 40px;
	width:100%;
  -webkit-animation: cyclefour 38s infinite;
  -moz-animation:    cyclefour 38s infinite;
  -o-animation:      cyclefour 38s infinite;
  animation:         cyclefour 38s infinite;
}

@-webkit-keyframes cyclefour {
  0%   { opacity: 0; }
  74%  { opacity: 0; }
  75%  { opacity: 1; }
  99%  { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes cyclefour {
  0%   { opacity: 0; }
  74%  { opacity: 0; }
  75%  { opacity: 1; }
  99%  { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes cyclefour {
  0%   { opacity: 0; }
  74%  { opacity: 0; }
  75%  { opacity: 1; }
  99%  { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes cyclefour {
  0%   { opacity: 0; }
  74%  { opacity: 0; }
  75%  { opacity: 1; }
  99%  { opacity: 1; }
  100% { opacity: 0; }
}



.about-header-white {
	font-family: BrandonGrotesque-Black;
	font-weight: normal; 
	font-style: normal; 
	font-size: 20px;
	color:white;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-top: 44px;
}
.packages-header-green {
	font-family: BrandonGrotesque-Black;
	font-weight: normal; 
	font-style: normal; 
	font-size: 20px;
	color:#3dc3cc;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-top: 44px;
}
.contact-header-white {
	font-family: BrandonGrotesque-Black;
	font-weight: normal; 
	font-style: normal; 
	font-size: 20px;
	color:white;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .1em;
	padding-top: 56px;
}
.white{
	padding-top: 32px;
	float:left;
	font-family: CenturyGothicStd-Bold;
	font-weight: normal; 
	font-style: normal; 
	font-size:18px;
	line-height:28px;
	color:white;
	letter-spacing: .05em;
	width:602px;
}
.white-half{
	padding-top: 32px;
	padding-left: 32px;
	float:left;
	font-family: CenturyGothicStd-Bold;
	font-weight: normal; 
	font-style: normal; 
	font-size:18px;
	line-height:28px;
	color:white;
	letter-spacing: .05em;
	width:283px;
}

#headshot{
	margin-top: 38px;
	width:287px;
	height: 287px;
	background-color: grey;
	float:left;
}

#about{
	margin-top: -5px;
	background-color: #3dc3cc;
	width:100%;
	height:1320px;
	position:relative;
}
.about-info{
	padding-top: 92px;
	font-family: BrandonGrotesque-Black;
	font-weight: normal; 
	font-style: normal; 
	font-size: 38px;
	line-height: 62px;
	text-transform: uppercase;
	letter-spacing: .1em;
	color:white;
}
.about-text{
	padding-top: 12px;
	margin: 0 auto;
	width:633px;
}
.patty-text{
	padding-top: 12px;
	margin: 0 auto;
	width:633px;
}
#packages{
	background-color: white;
	width:100%;
	height:710px;
	position:relative;
}
.packages-text{
	padding-top:12px;
	margin: 0 auto;
	width:900px;
}
.first-program{
	padding-top:96px;
	width:420px;
	float:left;
}
.second-program{
	padding-top:96px;
	width:420px;
	float:left;
	margin-left:60px;
}
.programblock{
	height:220px;
}
.programblock2{
	display: none;
}
.programblock3{
	display: none;
}
.details{	
	float:left;
	padding-right: 45px;
}
.details p{
	line-height: 45px;
	font-size: 18px;
}
.cost p{
	color:#3dc3cc;
	line-height: 45px;
	font-size: 18px;
}
#contact{
	background-color: #3dc3cc;
	width:100%;
	height:610px;
	position:relative;
}
.contact-text{
	width:633;
}
.contact-text h1{
	padding-top: 92px;
	font-family: CenturyGothicStd-Bold;
	font-weight: normal; 
	font-style: normal; 
	font-size:40px;
	line-height:38px;
	color:white;
	letter-spacing: .1em;
	text-align: center;
}

.contact-text h6{
	font-size: 22px;
}
.contact-text p{
	padding-top: 18px;
	line-height:28px;
	margin: 0 auto;
	width:633px;
	color:white;
	text-align: center;
}

@media screen and (max-width: 1200px) {
  .slideshow {
  	height:550px;

  }
  h4{
  	font-size: 30px;
  	line-height: 45px;
  }
}



/*mobile styles*/

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */

.nav{
	position:fixed;
	background-color: white;
	width:100%;
	height:120px;
	z-index: 666;
}

.menu-button{
	position:fixed;
	padding:40px;
	right:15px;
}

.bar1 {
	width:40px;
	height:8px;
	background-color: #3dc3cc;
	margin-top:8px;
	-webkit-transition: all .45s ease;  
    -moz-transition: all .45s ease;  
    -o-transition: all .45s ease;  
    transition: all .45s ease; 
}

.bar2 {
	width:40px;
	height:8px;
	background-color: #3dc3cc;
	margin-top:8px;
	-webkit-transition: all .45s ease;  
    -moz-transition: all .45s ease;  
    -o-transition: all .45s ease;  
    transition: all .45s ease;  
}
.bar3 {
	width:40px;
	height:8px;
	background-color: #3dc3cc;
	margin-top:16px;
	-ms-transform: rotate(225deg); /* IE 9 */
    -webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
    transform: rotate(225deg);
	-webkit-transition: all .45s ease;  
    -moz-transition: all .45s ease;  
    -o-transition: all .45s ease;  
    transition: all .45s ease; 
}

.bar4 {
	width:40px;
	height:8px;
	background-color: #3dc3cc;
	margin-top:-8px;
	-ms-transform: rotate(-225deg); /* IE 9 */
    -webkit-transform: rotate(-225deg); /* Chrome, Safari, Opera */
    transform: rotate(-225deg);
	-webkit-transition: all .45s ease;  
    -moz-transition: all .45s ease;  
    -o-transition: all .45s ease;  
    transition: all .45s ease; 
}

#logo-img{
	position:fixed;
	top:28px;
	left:35px;
	width:260px;
}
.nav-extended{
	position:fixed;
	height:80px;
	width:100%;
	background-color: #3dc3cc;
	top:38px;
	z-index: 444;
	-webkit-transition: all .45s ease;  
    -moz-transition: all .45s ease;  
    -o-transition: all .45s ease;  
    transition: all .45s ease; 
}
.nav-extended2{
	position:fixed;
	height:80px;
	width:100%;
	background-color: #3dc3cc;
	top:120px;
	z-index: 444;
	-webkit-transition: all .45s ease;  
    -moz-transition: all .45s ease;  
    -o-transition: all .45s ease;  
    transition: all .45s ease; 
}
h2{
	font-size: 60px;
	line-height: 90px;
}
h4{
	font-size: 50px;
	line-height: 70px;
}
li {
	float:left;
	list-style: none;
	color:white;
	padding-left:100px;
	padding-top:24px;
	font-family: BrandonGrotesque-Black; 
	font-weight: normal; 
	font-style: normal; 
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: .2em;
}
.slideshow{
	position: relative;
	height:1000px;
}
.background-image{
	position:fixed;
	width:200%;
}
#quote1{
	padding-top: 80px;
	margin-left:5%;
	margin-right: 5%;
}
#quote2{
	padding-top:120px;
	margin-left:5%;
	margin-right: 5%;
}
#quote3{
	padding-top: 80px;
	margin-left:5%;
	margin-right: 5%;
}
#quote4{
	padding-top: 80px;
	margin-left:5%;
	margin-right: 5%;
}



.about-header-white {
	font-family: BrandonGrotesque-Black;
	font-weight: normal; 
	font-style: normal; 
	font-size: 40px;
	color:white;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-top: 88px;
}
.white{
	padding-top: 32px;
	float:left;
	font-family: CenturyGothicStd-Bold;
	font-weight: normal; 
	font-style: normal; 
	font-size:34px;
	line-height:54px;
	color:white;
	letter-spacing: .05em;
	width:90%;
	margin-left: 5%;
	margin-right: 5%;
}
.white-half{
	padding-top: 32px;
	float:left;
	font-family: CenturyGothicStd-Bold;
	font-weight: normal; 
	font-style: normal; 
	font-size:34px;
	line-height:54px;
	color:white;
	letter-spacing: .05em;
	width:82%;
	margin-left: 5%;
	margin-right: 8%;
}
#about{
	margin-top: -5px;
	background-color: #3dc3cc;
	width:100%;
	height:2820px;
	position:relative;
}

.about-info{
	padding-top: 92px;
	font-family: BrandonGrotesque-Black;
	font-weight: normal; 
	font-style: normal; 
	font-size: 56px;
	line-height: 76px;
	text-transform: uppercase;
	letter-spacing: .1em;
	color:white;
	margin-left: 5%;
	margin-right: 5%;
}
.about-text{
	padding-top: 12px;
	margin: 0 auto;
	width:900px;
	float:none;
}
.patty-text{
	padding-top: 12px;
	margin: 0 auto;
	}
#headshot{
	float:none;
	margin-left: 20%;
	margin-bottom:5%;
	margin-top: 10%;
	width:60%;
	height:60%;
}
.patty-text{
	padding-top: 12px;
	margin: 0 auto;
	width:100%;
}


#packages{
	height:1380px;
}
.packages-header-green{
	font-family: BrandonGrotesque-Black;
	font-weight: normal; 
	font-style: normal; 
	font-size: 40px;
	color:#3dc3cc;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-top: 88px;
}
.first-program{
	float:none;
	width:90%;
	margin-left: 5%;
}
.second-program{
	float:none;
	width:90%;
	margin-left: 4%;
}
.programblock{
	display:none;
}
.programblock3{
	display:block;
	height:220px;
}
.programblock2{
	margin-top: 20px;
	display:block;
	height:140px;
}
.details{	
	float:left;
	padding-right: 155px;
}
.details p{
	line-height: 85px;
	font-size: 34px;
}
.cost p{
	color:#3dc3cc;
	line-height: 85px;
	font-size: 34px;
}
#contact{
	height:1300px;
}
.contact-header-white{
	font-family: BrandonGrotesque-Black;
	font-weight: normal; 
	font-style: normal; 
	font-size: 40px;
	color:white;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .1em;
	padding-top: 88px;
}
.contact-text h1{
	font-size: 70px;
	padding-bottom: 30px;
	padding-top: 80px;
}
.contact-text h6{
	font-size: 30px;
	padding-bottom: 60px
}
.contact-text p{
	font-size: 45px;
	line-height: 90px;
}


}

