/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Add Styles Here */
.background{
	position:absolute;
	width:100%;
	height:109.6%;
	background-color:#BFE7F7;
}

.chris{
	position:absolute;
	left:25%;
	margin-bottom:0;
	bottom:60%;
}
.head{
	position:absolute;
	background-color:#FADABD;
	top:18px;
	left:16px;
	width:130px;
	height:200px;
	border-radius:65px 65px 65px 65px;
}
.hair1{
	position:absolute;
	background-color:#76470B;
	top:35px;
	left:0px;
	width:70px;
	height:50px;
	border-radius:0px 65px 0px 65px;
	-webkit-transform: rotate(80deg);
}
.hair2{
	position:absolute;
	background-color:#76470B;
	left:32px;
	width:55px;
	height:38px;
	border-radius:0px 65px 0px 65px;
	-webkit-transform: rotate(105deg);
}
.hair3{
	position:absolute;
	background-color:#76470B;
	left:62px;
	width:55px;
	height:38px;
	border-radius:0px 65px 0px 65px;
	-webkit-transform: rotate(110deg);
}
.hair4{
	position:absolute;
	background-color:#76470B;
	left:92px;
	width:55px;
	height:38px;
	border-radius:0px 65px 0px 65px;
	-webkit-transform: rotate(115deg);
}
.hair5{
	position:absolute;
	background-color:#76470B;
	top:60px;
	left:-4px;
	width:65px;
	height:48px;
	border-radius:0px 65px 0px 65px;
	-webkit-transform: rotate(70deg);
}
.hair6{
	position:absolute;
	background-color:#76470B;
	left:92px;
	top:25px;
	width:65px;
	height:48px;
	border-radius:0px 65px 0px 65px;
	-webkit-transform: rotate(15deg);
}
.glasses{
	position:absolute;
	left:20px;
	top:70px;
}
.frame1{
	position:absolute;
	top:22px;
	width:30px;
	height:7px;
	background-color:black;
}
.frame2{
	top:9px;
	left:30px;
	position:absolute;
	width:35px;
	height:24px;
	border:solid 7px black;
	border-radius:10%;
}
.frame3{
	position:absolute;
	left:78px;
	top:22px;
	width:15px;
	height:7px;
	background-color:black;
}
.frame4{
	top:9px;
	left:90px;
	position:absolute;
	width:35px;
	height:24px;
	border:solid 7px black;
	border-radius:10%;
}
.eyes{
	position:absolute;
	top:95px;
	left:70px;
	height:7px;
	width:7px;
	border-radius:50%;
	background-color:black;
}
.eyes:after{
	content:'';
	position:absolute;
	left:63px;
	height:7px;
	width:7px;
	border-radius:50%;
	background-color:black;
}
.nose {
	position:absolute;
	top:138px;
	left:105px;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-left: 11px solid #BA711E;
	border-bottom: 6px solid transparent;
}
.mouth{
	position:absolute;
	top:168px;
	left:92px;
	width:6px;
	height:0px;
	border-radius:0px 0px 50px 50px;
	border:solid 8px #521908;
}
.neck{
	position:absolute;
	width:32px;
	height:40px;
	top:208px;
	left:65px;
	background-color:#FADABD;
}
.shirt{
	position:absolute;
	top:220px;
}
.block1{
	position:absolute;
	top:25px;
	left:10px;
	width:140px;
	height:210px;
	background-color:#888C87;
	border-radius:20px 20px 0 0;
}
.block2{
	position:absolute;
	top:10px;
	left:50px;
	width:33px;
	height:20px;
	background-color:#888C87;
}
.block3{
	position:absolute;
	top:10px;
	left:97px;
	width:15px;
	height:20px;
	background-color:#888C87;
}
.tshirt{
	position:absolute;
	top:245px;
	left:83px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 15px solid white;
}
.pants{
	position:absolute;
	top:440px;
	left:30px;
	width:100px;
	height:170px;
	background-color:#231F20;
}
.hands{
	position:absolute;
	top:452px;
	left:12px;
	width:20px;
	height:20px;
	border-radius:50%;
	background-color:#FADABD;
}
.hands:after{
	content:'';
	position:absolute;
	left:116px;
	width:20px;
	height:20px;
	border-radius:50%;
	background-color:#FADABD;
}
.cloud1{
	position:absolute;
	left:60%;
	top:35%;
}
.circle1{
	background-color:white;
	position:absolute;
	left:58px;
	top:35px;
	width:75px;
	height:75px;
	border-radius:50%
}
.circle2{
	background-color:white;
	position:absolute;
	left:120px;
	width:110px;
	height:110px;
	border-radius:50%
}
.circle3{
	background-color:white;
	position:absolute;
	top:35px;
	left:180px;
	width:100px;
	height:100px;
	border-radius:50%
}
.block5{
	position:absolute;
	top:80px;
	width:320px;
	height:30px;
	background-color:white;
	border-radius:20px 20px 20px 20px;
}
.block6{
	position:absolute;
	top:110px;
	width:320px;
	height:30px;
	background-color:#BFE7F7;
	border-radius:20px 20px 20px 20px;
}
.cloud2{
	position:absolute;
	left:10%;
	top:20%;
}
.circle4{
	background-color:white;
	position:absolute;
	left:38px;
	top:58px;
	width:40px;
	height:40px;
	border-radius:50%
}
.circle5{
	background-color:white;
	position:absolute;
	left:68px;
	top:45px;
	width:55px;
	height:55px;
	border-radius:50%
}
.block7{
	position:absolute;
	top:80px;
	width:150px;
	height:20px;
	background-color:white;
	border-radius:15px 15px 15px 15px;
}
.block8{
	position:absolute;
	top:100px;
	width:320px;
	height:30px;
	background-color:#BFE7F7;
	border-radius:20px 20px 20px 20px;
}
.sun{
	background-color:#FFEF00;
	width:60px;
	height:60px;
	border-radius:50%;
	position:absolute;
	left:60%;
	top:20%;
}


