

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-family: arial;
	padding: 20px;
}
h1 {
	font-size: 150%;
	color: red;	
	width:300px;
	padding: 5px;
	letter-spacing: 2px;
}	
h1 b {
	font-size: 191%;
	letter-spacing: 12px;
	font-weight: bold;
	color: #4e3033;
}
div {
	height: 400px;
	width: 390px;
	padding: 5px;
	float: left;
}
div 2{
	height: 200px;
	width: 390px;
	padding: 5px;
	float: right;
}
p {
	padding: 5px;
	float: left;
	font-family: Times;
	font-size: 90%;
	width: 300px;
	line-height: 140%;
}
p i {
	padding-left: 50px;
	float: right;
	font-family: arial;
	font-size:80%
}	
img {
	float: top;
	margin: 15 px;
	padding: 5px;	
}	
nav li {
	font-family: arial;
	text-decoration: none;
	text-align: right;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	float: bottom;
}
ol, ul {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 1;
	height: 1;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


